<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>
</head>
<body>
    <h1>Form Page</h1>
    <form method="post" action="/submit-form">
        <input type="text" name="data" placeholder="Enter some data" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>